In [6]:
income=2500
print(income)
print(type(income))

name = 'python'
print(name)

2500
<class 'int'>
python

In [4]:
integer = True
print(type(integer))

<class 'bool'>

In [23]:
course= 'DataScience'
print(type(course))

course1= 'Data\nScience'
print(course1)

salary= 25000.00
print(type(salary))

'data'+'science'

<class 'str'>
Data
Science
<class 'float'>

'datascience'

In [18]:
sample1 = 1+3
print(sample1)

sample = "1"*3
print(sample)

sample2 = "2"*2 + "1"*3
print(sample2)

4
111
22111

In [1]:
income1= 5000
income2= 10000
income3= 15000
income4= 20000
income5= 25000

print(income1+income2)

print(income1,income5)

print(type(income5))

print("My income was "+str(income4)+" and now it is "+str(income5))

15000
5000 25000
<class 'int'>
My income was 20000 and now it is 25000

In [11]:
Names=['Tejas', income1, 'Chesta', income2, 'Ankur', income3, 'Vini', income4]
print(Names)
print(type(Names))

['Tejas', 5000, 'Chesta', 10000, 'Ankur', 15000, 'Vini', 20000]
<class 'list'>

In [3]:
Names2=[['Tejas', income1], 
        ['Chesta', income2],
        ['Ankur', income3],
        ['Vini', income4],
       ['Kia',income5]]
print(Names2)
print(type(Names2))

Names2[3][:]

[['Tejas', 5000], ['Chesta', 10000], ['Ankur', 15000], ['Vini', 20000], ['Kia', 25000]]
<class 'list'>

['Vini', 20000]

In [7]:
Names3=(['Tejas', income1], 
        ['Chesta', income2],
        ['Ankur', income3],
        ['Vini', income4])
print(Names3)
print(type(Names3))

(['Tejas', 5000], ['Chesta', 10000], ['Ankur', 15000], ['Vini', 20000])
<class 'tuple'>

In [40]:
Names2 [3]

['Vini', 20000]

In [48]:
#slicing usage
#[start:End]
#start is inclusive and end is exclusive(:)
print(Names2[1:3])
print(Names2[:])
print(Names2[2:])
print(Names2[:3])
print(Names2[:5])

[['Chesta', 10000], ['Ankur', 15000]]
[['Tejas', 5000], ['Chesta', 10000], ['Ankur', 15000], ['Vini', 20000], ['Kia', 25000]]
[['Ankur', 15000], ['Vini', 20000], ['Kia', 25000]]
[['Tejas', 5000], ['Chesta', 10000], ['Ankur', 15000]]
[['Tejas', 5000], ['Chesta', 10000], ['Ankur', 15000], ['Vini', 20000], ['Kia', 25000]]

In [4]:
Income0=['Tejas', 5000, 'Chesta', 10000, 'Ankur', 15000, 'Vini', 20000]
Income0

z=Income0[1]+Income0[3]
print(z)

#negative indexing -1= last value, -2= second last
y=Income0[-1]+Income0[-3]
print(y)

15000
35000

In [28]:
#List Manipulation

Names[1] =55000 #change
Names

Names[0:2]=['Guruji',60000] #replacing elements
Names

Names01= Names + ['Kia',70000] #adding elements
Names01

del(Names01[6:8])
Names01

['Guruji', 60000, 'Chesta', 10000, 'Ankur', 15000, 'Kia', 70000]

In [11]:
#Lambdas, Map
mass=[45,55,65,76]
ht=[1.65,1.70,1.55,1.80]
bmi=map(lambda x,y:x/y**2,mass,ht)
bmi_f=filter(lambda x:x<20,bmi)
print(bmi)
print(bmi_f)
#print(list(bmi))
print(list(bmi_f))

<map object at 0x7f7ae95648e0>
<filter object at 0x7f7ae9564f40>
[16.528925619834713, 19.031141868512112]

In [15]:
#define w1 as a lambda function
w1 = (lambda x,y: x*y)

#call w1:result
result = w1('Yay',3)

#print result
print(result)

YayYayYay

In [20]:
nums= [2,4,6,8,10]
result= map(lambda a:a**2,nums)
print(list(result))

[4, 16, 36, 64, 100]

In [25]:
#filter

cities=['delhi','pune','chennai','kolkata']

#use filter() to apply a lambda func over fellowship: result
result= filter(lambda m: len(m)>6, cities)

type(result)

#convert result to list: result_list
result_list = list(result)
print(result_list)

['chennai', 'kolkata']

In [27]:
#tuples
#heterogenous elements
#enclosed in a round parenthesis ()
#elements can be accessed by indexing or unpacking

t=(1,2,3,4)
print(t)
print(t[0])

(1, 2, 3, 4)
1

In [29]:
#difference between list and tuple
#values can be changed in list but not tuple

li6=[1,2,3,4]
li6[0]=0
print(li6)

[0, 2, 3, 4]

In [31]:
t[0]=0

TypeError: 'tuple' object does not support item assignment

In [34]:
#to find which functions can be used on the object use dir
print(dir(t))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [43]:
#dictionaries
#key value pairs; keys immutable; values mutable
#using {} brackets
#can be indexed using unique keys not range of numbers as in lists

inc = {"umesh":30000,"ramesh":40000,"nilesh":25000}
print(inc)

#dict_name[key]

print(inc["umesh"])

#print unique keys in inc

print(inc.keys())
print(inc.values())

#check if value is present in dictionary
"nilesh" in inc

#modify key
inc["nilesh"] = 35000
print(inc)

#del key-value
del(inc["nilesh"])
print(inc)

#access key-value pairs
print(inc.items())

{'umesh': 30000, 'ramesh': 40000, 'nilesh': 25000}
30000
dict_keys(['umesh', 'ramesh', 'nilesh'])
dict_values([30000, 40000, 25000])
{'umesh': 30000, 'ramesh': 40000, 'nilesh': 35000}
{'umesh': 30000, 'ramesh': 40000}
dict_items([('umesh', 30000), ('ramesh', 40000)])

In [50]:
#dictionary of dictionaries
income1= {'r' : {'gender':'male','income':40000},
's':{'gender':'female','income':66000},
   't':{'gender':'female','income':20000},
    'u':{'gender':'male','income':58000}}

#print out the income of r
print(income1['r']['income'])

#create sub-directory data
income2 = {'gender':'female', 'income':30000}

#add data to income1 under key 'v'
income1['v']= income2

#print
print(income1)

40000
{'r': {'gender': 'male', 'income': 40000}, 's': {'gender': 'female', 'income': 66000}, 't': {'gender': 'female', 'income': 20000}, 'u': {'gender': 'male', 'income': 58000}, 'v': {'gender': 'female', 'income': 30000}}

In [61]:
#dictionary is iterable
for x in inc:
    print(x)
    
for x in inc:
    print(x,inc[x])

umesh
ramesh
umesh 30000
ramesh 40000

In [29]:
#list comprehension on dictionaries

pos_neg = {l:-l for l in range(3)}
print(pos_neg)
type(pos_neg)


# assign_txt="Modi is an exceptional leaders of all time in India . He is the prime minister of India"
# d={}
# for w in assign_txt.split(" "):
#     if w in d:
#         d[w]=d[w]+1
#     else:
#         d[w]=1
        
# print(d)

{0: 0, 1: -1, 2: -2}

dict

In [16]:

#modules interlude
import os
os.chdir('/Users/macmojave/Downloads')

In [19]:


f=open('sample3.txt','r') 
fo=f.read() #converts to str
print(type(f))
print(type(fo))
f.close() #fopen need fclose

<class '_io.TextIOWrapper'>
<class 'str'>

In [21]:
f=open('sample3.txt','w')
for dt in fo:
    f.write(dt+'\n')
f.close()

In [23]:
fo[0:100]

'Quod equidem non reprehendo;\nLorem ipsum dolor sit amet, consectetur adipiscing elit. Quibus natura '

In [26]:
with open("sample3.txt","r") as infile:
    dat=infile.read()
    
    #use with open to avoid fclose
    #with is called context manager